/*------------------------------------*\
  $TABLES
\*------------------------------------*/

$table-th-background-color: $brand;
$table-th-text-color: #fff;
$table-border-color: $light-grey;
$table-striped: false;
$table-stripe-background-color: $light-grey;
$table-stripe-text-color: #000;
$table-equal-width-columns: false;

table {
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  @if ($table-equal-width-columns == true) {
    table-layout: fixed;
  }

  @if ($table-striped == true) {
    tr:nth-child(even) {
      background: $table-stripe-background-color;
    }

    color: $table-stripe-text-color;
  }
}

th,
td {
  padding: 15px;
  text-align: left;
  font: {
    family: $body-font;
    weight: 300;
    size: font-size(13);
  }
}

th {
  font: {
    family: $heading-font;
    weight: 600;
    size: font-size(14);
  }
  background: {
    color: $table-th-background-color;
  }
  color: $table-th-text-color;
}

td,
tr {
  border: 1px solid $table-border-color;
}
