/*------------------------------------*\
   # BUTTON

   <a href="#" class="btn">This is a button</a>
   <button class="btn">This is also a button</button>
\*------------------------------------*/

.btn {
  display: inline-block;
  vertical-align: middle;

  margin: 0;
  padding: 0;

  font: inherit;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  border: 0;
}
