/*------------------------------------*\
  $LIGHTBOX

  <div class="lightbox">
    <h2 class="lightbox__title"></h2>
    <p class="lightbox__intro"></p>
    <img src="" alt="" class="lightbox__img" />
    <a class="lightbox__close" id="close">Close</a>
  </div>
  <!-- /.lightbox -->
\*------------------------------------*/

$lightbox-width:  500px;
$lightbox-height: 500px;

.lightbox {
  @include position(fixed, 50%, false, false, 50%);
  padding: 20px;
  transform: translate(-50%, -50%);
  width: $lightbox-width;
  max-width: 95%;
  height: $lightbox-height;
  max-height: 95%;
  z-index: 9999;
  background: {
    color: $white;
  }

  &__title {

  }

  &__intro {

  }

  &__img {

  }

  &__close {
    cursor: pointer;
  }
}

.overlay {
  @include position(fixed, 0, 0, 0, 0);
  background: {
    color: rgba(0,0,0,.4);
  }
}

@include mq(mq480) {
  .lightbox {
    color: crimson;
  }
}

@include mq(mq600) {
  .lightbox {
    color: red;
  }
}

@include mq(mq768) {
  .lightbox {
    color: green;
  }
}

@include mq(mq960) {
  .lightbox {
    color: blue;
  }
}

@include mq(mq1200) {
  .lightbox {
    color: darkred;
  }
}





/**
 * Javascript Disabled
 */

.no-js {
  .lightbox {

  }
}





/**
 * IE 9 Fixes
 */

.ie9 {
  .lightbox {

  }
}





/**
 * IE 8 Fixes
 */

.ie8 {
  .lightbox {
    top: 5%;
  }
}
