/*------------------------------------*\
  $MESSAGES
\*------------------------------------*/

$error-color:   #fe6565;
$warning-color: #fdfdcc;
$success-color: #b7d985;

.message-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;

  p {
    margin-bottom: 0;
    font-weight: bold;
  }

  &--error {
    color: mix($error-color, black, 50%);
    background-color: $error-color;
    border-color: mix($error-color, black, 50%);
  }

  &--warning {
    color: mix($warning-color, $black, 50%);
    background-color: $warning-color;
    border-color: mix($warning-color, $black, 50%);
  }

  &--success {
    color: mix($success-color, $black, 50%);
    background-color: $success-color;
    border-color: mix($success-color, $black, 50%);
  }
}

.message-text {
  font-weight: bold;

  &--error {
    color: darken($error-color, 40%);
  }

  &--warning {
    color: darken($warning-color, 60%);
  }

  &--success {
    color: darken($success-color, 40%);
  }
}
