/*------------------------------------*\
  $MESSAGES
\*------------------------------------*/

.message-box {
  margin-bottom: 10px;
  padding: 10px;

  p {
    margin-bottom: 0;
    font-weight: bold;
  }

  &--error {
    color: darken($error, 40%);
    background-color: $error;
    border: 1px solid darken($error, 40%);
  }

  &--warning {
    color: darken($warning, 60%);
    background-color: $warning;
    border: 1px solid darken($warning, 60%);
  }

  &--success {
    color: darken($success, 40%);
    background-color: $success;
    border: 1px solid darken($success, 20%);
  }
}

.message-text {
  font-weight: bold;

  &--error {
    color: darken($error, 40%);
  }

  &--warning {
    color: darken($warning, 60%);
  }

  &--success {
    color: darken($success, 40%);
  }
}
