/*------------------------------------*\
  $LISTS
\*------------------------------------*/

ul,
ol {
  margin-bottom: 15px;
  margin-left: 40px;
}

ul {
  li { list-style: disc; }
}

li {
  margin-bottom: 5px;
  font-size: font-size(16);

  > ul,
  > ol {
    margin-bottom: 0;
  }
}
