/*------------------------------------*\
  $LISTS
\*------------------------------------*/

ul,
ol {
  margin-bottom: em(15);
  margin-left: em(20);
}

ul {
  li { list-style: disc; }
}

li {
  @include font-size(16px);

  > ul,
  > ol {
    margin-bottom: 0;
  }
}
