/*------------------------------------*\
  $PAGE
\*------------------------------------*/

/**
 * [1] Fonts on OSX will look more consistent with
 *     other systems that do not render text using
 *     sub-pixel anti-aliasing.
 */
html {
  overflow-y: scroll;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale; /* 1 */
  -webkit-font-smoothing: antialiased; /* 1 */
  color: $base-font-color;
  background: {
    color: $base-background-color;
  }
}

body {
  font: {
    family: $body-font;
    size: font-size($base-font-size);
  }
}

.wrap {
  margin: 0 auto;
  width: $wrapper-width;

  /**
   * If the site is responsive it should always
   * fill a maximum of 95% of the viewport. Otherwise
   * it should be a fixed width of $wrapper-width.
   *
   * 1. We're adding `!important` to get around the order
   *    in which the CSS files are loaded. IE8's stylesheet
   *    isn't asynchrounously loaded in and so some styles get
   *    overwritten by main.css file when it's loaded.
   */
  @if ($mq-responsive == true) {
    max-width: 95%;
  } @else {
    max-width: $wrapper-width !important; /* 1 */
  }
}
