/*------------------------------------*\
  $TABLES
\*------------------------------------*/

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  text-align: left;
}
