/*------------------------------------*\
  $TABLES
\*------------------------------------*/

$table-th-background-color: #000;
$table-th-text-color: #fff;
$table-border-color: #000;
$table-striped: true;
$table-stripe-background-color: $light-grey;
$table-stripe-text-color: #000;

.table {
  margin-bottom: $base-spacing-unit;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  @if ($table-striped == true) {
    &--striped {
      color: $table-stripe-text-color;

      tr:nth-child(even) {
        background: $table-stripe-background-color;
      }
    }
  }

  th,
  td {
    padding: 15px;
    text-align: left;
  }

  th {
    background: {
      color: $table-th-background-color;
    }
    color: $table-th-text-color;
  }

  td,
  tr {
    border: 1px solid $table-border-color;
  }
}

caption {
  margin-bottom: 15px;
}
