/*------------------------------------*\
  $TYPE
\*------------------------------------*/

/**
 * Headings
 */

$h1-size: 42;
$h2-size: 36;
$h3-size: 30;
$h4-size: 24;
$h5-size: 18;
$h6-size: 16;

h1,
.alpha {
  font-size: font-size($h1-size);
}

h2,
.beta {
  font-size: font-size($h2-size);
}

h3,
.gamma {
  font-size: font-size($h3-size);
}

h4,
.delta {
  font-size: font-size($h4-size);
}

h5,
.epsilon {
  font-size: font-size($h5-size);
}

h6,
.zeta {
  font-size: font-size($h6-size);
}


/**
 * Paragraphs
 */

p {
  margin-bottom: $base-line-height;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


/**
 * Links
 */

a {
  color: $link-colour;

  @if ($link-underlined == false) {
    text-decoration: none;
  }

  @include states() {
    color: $link-colour-hover;

    @if ($link-underlined-hover == false) {
      text-decoration: none;
    } @elseif ($link-underlined-hover == true) {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */

q {
  quotes: '\201C''\201D''\2018''\2019';

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

blockquote {
  margin-bottom: $base-line-height;

  p {
    &:before {
      content: '\201C';
    }

    &:after {
      content: '\201D';
    }
  }
}
