/*------------------------------------*\
  $FUNCTIONS
\*------------------------------------*/


$path: '/build/images/' !default; // define a path where images are stored
$use-rems: true !default; // Use rems by default

/**
 * Quickly get an em value
 */

@function em($px) {
  @return $px / 16 * 1em;
}


/**
 * Quickly get a rem value
 */

@function rem($px) {
  @return $px / 10 * 1rem;
}

/**
 * Font sizing in rems
 */

@function font-size($font-size, $line-height: false) {
  @return if($use-rems, #{$font-size / $base-font-size}rem, #{$font-size});
}



/**
 * Output an image URL
 */

@function file-url($file) {
  $url: '';
  @if $path {
    $url: url($path+$file);
  } @else {
    $url: image-url($file);
  }
  @return $url;
}
